<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatroom.mapper.GroupMapper">

    <resultMap id="BaseResultMap" type="com.chatroom.entity.Group">
        <result column="group_id" property="groupId"/>
        <result column="group_name" property="groupName"/>
        <result column="leader_id" property="leaderId"/>
        <result column="avatar_id" property="avatarId"/>
        <result column="level" property="level"/>
    </resultMap>

    <sql id="Base_Column_List">
        group_id,
        group_name,
        leader_id,
        avatar_id,
        `level`
    </sql>

    <insert id="add" useGeneratedKeys="true" keyColumn="group_id" keyProperty="groupId"
            parameterType="com.chatroom.entity.Group">
        INSERT INTO `group`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != groupName and '' != groupName">
                group_name,
            </if>
            <if test="null != leaderId and '' != leaderId">
                leader_id,
            </if>
            <if test="null != avatarId and '' != avatarId">
                avatar_id
            </if>
            <if test="null != level and '' != level">
                `level`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != groupName and '' != groupName">
                #{groupName},
            </if>
            <if test="null != leaderId and '' != leaderId">
                #{leaderId},
            </if>
            <if test="null != avatarId and '' != avatarId">
                #{avatarId}
            </if>
            <if test="null != level and '' != level">
                #{level}
            </if>
        </trim>
    </insert>

    <delete id="deleteByGroupId">
        DELETE
        FROM `group`
        WHERE group_id = #{groupId}
    </delete>

    <update id="update" parameterType="com.chatroom.entity.Group">
        UPDATE `group`
        <set>
            <if test="null != groupName and '' != groupName">group_name = #{groupName},</if>
            <if test="null != leaderId and '' != leaderId">leader_id = #{leaderId},</if>
            <if test="null != avatarId and '' != avatarId">avatar_id = #{avatarId},</if>
            <if test="null != level and '' != level">`level` = #{level}</if>
        </set>
        WHERE group_id = #{groupId}
    </update>

    <select id="getByGroupId" resultType="com.chatroom.entity.Group">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `group`
        WHERE group_id = #{groupId}
    </select>

    <select id="getByGroupName" resultType="com.chatroom.entity.Group">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `group`
        WHERE group_name = #{groupName}
    </select>

    <select id="getByLeaderId" resultType="com.chatroom.entity.Group">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `group`
        WHERE leader_id = #{leaderId}
    </select>

</mapper>