<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatroom.mapper.GroupUserRelationMapper">

    <resultMap id="BaseResultMap" type="com.chatroom.entity.GroupUserRelation">
        <result column="id" property="id"/>
        <result column="group_name" property="groupName"/>
        <result column="username" property="username"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        group_name,
        username
    </sql>

    <insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="com.chatroom.entity.GroupUserRelation">
        INSERT INTO group_user_relation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != groupName and '' != groupName">
                group_name,
            </if>
            <if test="null != username and '' != username">
                username
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != groupName and '' != groupName">
                #{groupName},
            </if>
            <if test="null != username and '' != username">
                #{username}
            </if>
        </trim>
    </insert>

    <delete id="delete">
        DELETE
        FROM group_user_relation
        WHERE group_name = #{groupName}
          and username = #{username}
    </delete>

    <select id="getUsersByGroupName" resultType="java.lang.String">
        SELECT username
        from group_user_relation
        where group_name = #{groupName}
    </select>

    <select id="getGroupsByUsername" resultType="java.lang.String">
        SELECT group_name
        from group_user_relation
        where username = #{username}
    </select>

    <select id="getGroupCounts" resultType="java.lang.Integer">
        SELECT count(*)
        from group_user_relation
        where group_name = #{groupName}
    </select>

    <select id="getByGroupAndUser" resultType="java.lang.Integer">
        SELECT count(*)
        from group_user_relation
        where group_name = #{groupName}
          and username = #{username}
    </select>

</mapper>