<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chatroom.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.chatroom.entity.Message">
        <result column="id" property="id"/>
        <result column="sender_name" property="senderName"/>
        <result column="receiver_name" property="receiverName"/>
        <result column="content" property="content"/>
        <result column="send_time" property="sendTime" jdbcType="TIMESTAMP"/>
        <result column="message_type" property="messageType"/>
        <result column="is_group_message" property="isGroupMessage"/>
        <result column="is_read" property="isRead"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        sender_name,
        receiver_name,
        content,
        send_time,
        message_type,
        is_group_message,
        is_read
    </sql>

    <insert id="add" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="com.chatroom.entity.Message">
        INSERT INTO message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != senderName and '' != senderName">
                sender_name,
            </if>
            <if test="null != receiverName and '' != receiverName">
                receiver_name,
            </if>
            <if test="null != content and '' != content">
                content,
            </if>
            <if test="null != sendTime">
                send_time,
            </if>
            <if test="null != messageType and '' != messageType">
                message_type,
            </if>
            <if test="null != isGroupMessage and '' != isGroupMessage">
                is_group_message,
            </if>
            <if test="null != isRead and '' != isRead">
                is_read
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != senderName and '' != senderName">
                #{senderName},
            </if>
            <if test="null != receiverName and '' != receiverName">
                #{receiverName},
            </if>
            <if test="null != content and '' != content">
                #{content},
            </if>
            <if test="null != sendTime">
                #{sendTime},
            </if>
            <if test="null != messageType and '' != messageType">
                #{messageType},
            </if>
            <if test="null != isGroupMessage and '' != isGroupMessage">
                #{isGroupMessage},
            </if>
            <if test="null != isRead and '' != isRead">
                #{isRead}
            </if>
        </trim>
    </insert>

    <!--    todo 这个for each有问题, 读不到里面的语句-->
    <insert id="addList" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO message(sender_name, receiver_name,content, send_time, message_type, is_group_message, is_read)
        VALUES
        <foreach item="item" collection="list" separator=",">
            (#{item.senderName}, #{item.receiverName},
            #{item.content}, #{item.sendTime},#{item.messageType},
            #{item.isGroupMessage}, #{item.isRead})
        </foreach>
    </insert>

    <update id="setMessageReaded">
        update message
        set is_read = 1
        where receiver_name = #{username}
    </update>

    <delete id="delete">
        DELETE
        FROM message
        where is_group_message = 1
          and send_time &lt; #{time}
    </delete>

    <select id="getFriendMessage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM message
        WHERE (sender_name = #{name1} and receiver_name = #{name2} and is_group_message = 0 and message_type = '9')
        or (sender_name = #{name2} and receiver_name = #{name1} and is_group_message = 0 and message_type = '9')
        Order by send_time
    </select>

    <select id="getGroupMessage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM message
        WHERE is_group_message = 1 and receiver_name = #{groupName}
        Order by send_time
    </select>

    <select id="getAllMessages" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM message
        Order by send_time
    </select>

    <select id="getNotReadMessage" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM message
        where is_read = 0 and receiver_name = #{username}
        Order by send_time
    </select>
</mapper>